.pull-right {float:right;}
.pull-left {float:left;}
.pull-none {float:none;}
.sticky {position: -webkit-sticky !important; position: sticky !important; top: 0px; }
.relative {position: relative !important;}
.absolute {position: absolute !important;}
.db-center {position: absolute; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%));}
.fixed {
	position:fixed !important;
	&.t {top: 0;}
	&.r {right: 0;}
	&.b {bottom: 0;}
	&.l {left: 0;}
}
.noscroll, .overflow0 {overflow:hidden;}
.scrolly {overflow-y:auto;}
.scrollx {overflow-x:auto;}

.layer-background {z-index: map-get($layers, background);}
.layer-normal {z-index: map-get($layers, normal);}
.layer-medium {z-index: map-get($layers, medium);}
.layer-high {z-index: map-get($layers, high);}
.layer-tooltip {z-index: map-get($layers, tooltip);}
.z10 {z-index:10;}
.z20 {z-index:20;}
.z30 {z-index:30;}
.z40 {z-index:40;}

.center {margin-left:auto; margin-right:auto;}
.full, .width100 {width: 100%;}
.block {display:block !important;}
.hidden {display:none !important;}
.clear {display:block; clear:both !important; float:none; width: 100%;}
.noclear {clear:none !important;}
.height100 {height: 100%;}
.height100vh {height: 100vh;}