// Reset the CSS boilerplate

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;} article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;} body{line-height:1;} ol,ul{list-style:none;} blockquote,q{quotes:none;} blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;} table{border-collapse:collapse;border-spacing:0;} *,*:after,*:before {box-sizing: border-box;-moz-box-sizing:border-box;}

*::selection, *::-moz-selection {background: $primary; color: $white}

// set defaults
:root {
	@each $name, $color in $system_colors {
		--#{$name}: map-get($color, bg);
	}
	--font-family-sans-serif: #{inspect($font-family-sans-serif)};
	--font-family-monospace: #{inspect($font-family-monospace)};
}

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template, [template] { display: none; }



// Set the body to have good defaults

html {font-family: sans-serif; text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width:100%; overflow-x:hidden;}

body {margin:0; width:100%; font-size: 1rem; line-height: 1.5; font-weight: 400; font-family: $font-family-sans-serif; background:$white; color: $black; -webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility !important; position:relative; text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; image-rendering: optimizeSpeed; image-rendering: -moz-crisp-edges; image-rendering: -o-crisp-edges; image-rendering: -webkit-optimize-contrast; image-rendering: optimize-contrast; -ms-interpolation-mode: nearest-neighbor;}



// Bring baseline html functionality back

sub, sup {font-size: $font_sm; line-height: 0; position: relative; vertical-align: baseline; }

sup {top: -0.5rem;}

sub {bottom: -0.25rem;}

i,em,.em {font-style:italic;}

b,strong,.strong {font-weight: bold;}

s, .s, .striketrhough {text-decoration:line-through;}

u, u, .underline {text-decoration:underline;}

svg:not(:root) {overflow: hidden;}

img, iframe {max-width:100%;}