small { font-size: $font_sm; }
.text-center { text-align:center; }
.text-left { text-align:left; }
.text-right {text-align:right;}
.text-nowrap {white-space: nowrap;}
.text-justify {text-align: justify; text-justify: inter-word;}
.text-lowercase, .text-lower {text-transform: lowercase;}
.text-uppercase, .text-upper {text-transform: uppercase;}
.text-truncate {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.text-capitalize {text-transform: capitalize;}
.text-muted {opacity:0.7;}
.text-small, .text-sm, small {font-size:$font_sm;}
.text-large, .text-lg {font-size:$font_lg;}
.text-white {color:#fff;}
.text-black {color:#fff;}

code {background: $light; }
pre {background: $light; overflow: auto; font-size: $font_sm;}
code, kbd, pre, samp, pre.prettify {clear:both; font-family: $font-family-monospace; display:block; padding: $gutter;}
pre > code {display: block; padding: 0; white-space: pre;}

a {text-decoration:none; color:$primary;}
a:active,a:hover {outline: 0; color:lighten($primary, $hover_diff);}
mark, .mark, .highlight {background:#8a6d3b}
kbd,.kbd {padding:2px 4px; font-size:1.4rem; color:#fff; background:#333; border-radius: 4px;}
kbd kbd, .kbd kbd, .kbd .kbd, kbd .kbd {padding:0; font-weight:bold;}

.noselect {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}

hr {margin-top: $gutter*2; margin-bottom: $gutter*2; border-width: 0; border-top: 1px solid #E1E1E1; display:block; clear:both; float:none;}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {margin:0; margin-bottom: $gutter;}
.h1, h1 {font-size: map-get($h1, size); color: map-get($h1, color); letter-spacing: map-get($h1, spacing); font-weight: map-get($h1, font-weight); }
.h2, h2 {font-size: map-get($h2, size); color: map-get($h2, color); letter-spacing: map-get($h2, spacing); font-weight: map-get($h2, font-weight); }
.h3, h3 {font-size: map-get($h3, size); color: map-get($h3, color); letter-spacing: map-get($h3, spacing); font-weight: map-get($h3, font-weight); }
.h4, h4 {font-size: map-get($h4, size); color: map-get($h4, color); letter-spacing: map-get($h4, spacing); font-weight: map-get($h4, font-weight); }
.h5, h5 {font-size: map-get($h5, size); color: map-get($h5, color); letter-spacing: map-get($h5, spacing); font-weight: map-get($h5, font-weight); }
.h6, h6 {font-size: map-get($h6, size); color: map-get($h6, color); letter-spacing: map-get($h6, spacing); font-weight: map-get($h6, font-weight); }

p {margin-top: 0; margin-bottom: $g2;}

ul {list-style: disc outside; padding: 0 0 $g2 $g2;}
ol {list-style: decimal outside; padding: 0 0 $g2 $g2;}
ol.nolist, ul.nolist {list-style:none;}

a {
	color: map-get($links, color); text-decoration: map-get($links, decoration);
	&:hover, &:active {
		color: map-deep-get($links, "hover", "color"); text-decoration: map-deep-get($links, "hover", "decoration");
	}
}