////////////////////////////////////////////
// UI Elements
////////////////////////////////////////////
body pre.prettyprint {border: 1px solid $grey; padding: $g2;}

// Borders
.bord {
	border: 1px solid $grey;
	&#{t}, &#{tb} {
		&#{0} {border-top:none;}
		&#{1} {border-top-width: 1px; }
		&#{2} {border-top-width: 2px; }
	}
	&#{r}, &#{rl} {
		&#{0} {border-right:none;}
		&#{1} {border-right-width: 1px; }
		&#{2} {border-right-width: 2px; }
	}
	&#{b}, &#{tb} {
		&#{0} {border-bottom:none;}
		&#{1} {border-bottom-width: 1px; }
		&#{2} {border-bottom-width: 2px; }
	}
	&#{l}, &#{lr} {
		&#{0} {border-left:none;}
		&#{1} {border-left-width: 1px; }
		&#{2} {border-left-width: 2px; }
	}
}
@each $name, $color in $system_colors {
	.bord-{border: 1px solid map-get($color, bg);}
}
.round {
	&#{-1} {border-radius: $g1;}
	&#{-2} {border-radius: $g2;}
	&#{-3} {border-radius: $g3;}
	&#{-4} {border-radius: $g4;}
}

// Navigation
.os-menu {
	position:relative; display:block; list-style:none; padding:0;
	li {
		display:inline-block; position:relative;
		a {
			display:block; padding: $g1/3 $g2;
			&:hover, &.active {background:rgba(0,0,0,.1); text-decoration: none;}
		}

		&:hover .sub-menu {display:block}
	}
	&.stacked {
		.sub-menu {
			padding:0;
			a {padding-left: $g3; font-size:0.8rem;}
		}
		li {display:block;}
	}
	
	&.dropdowns {
		.sub-menu {
			display:none; position:absolute; top:100%; left:50%; transform: translate(-50%, 0); width: 200px; z-index:100; background:#fff; color:#333; border:1px solid #ddd;
			li {display:block;}
			a {color:#333;}
		}
	}
}

// Pagination
.pagination {
	margin: 4px 0 8px;
	> * {
		display:inline-block; padding: 4px 8px; text-align:center; margin: 0 2px; color:#333; background: #ddd;
		&:hover {background:#ccc; color: inherit; text-decoration:none;}
		&.active {background:#337ab7; color:#fff;}
	}
	.next, .prev {
		&:hover {background:#ccc; color:#333;}
	}
}

// Tabs
.tabs {
	.tab_nav {
		overflow:hidden; font-size:0;
		a {
			background: darken($grey, 4%); margin-bottom: -1px; cursor:pointer; color:$black; display:inline-block; padding: $gutter $gutter*2; font-size: 1rem;
			&:hover, {background: $white; text-decoration:none;}
			&:active, &.active {background: $white; color:$black;}
		}
		a + a {border-left: 1px solid $dark_grey;}
	}

	.tab_content {
		display:none; padding: $g1; background: $white;
		&.active {display:block;}
	}
}

// Tooltips
[tooltip] {
	position: relative;
	&:hover:before, &:active:before { content: attr(tooltip); position: absolute; border:1px solid darken($black, $hover_diff); z-index:100; max-width:300px; top: 0; left: 50%; transform: translate(-50%, -100%); background: $black; color: $white; font-size: 12px; padding: 6px 16px;}
	&:hover:after, &:active:after {content: ''; position:absolute; top: 0; left: 50%; width: 10px; height: 10px; transform: translate(-50%, -50%) rotate(45deg); background: $black; border:1px solid darken($black, $hover_diff); border-top: none; border-left:none; }
}

//search
.os-search-submit {
	background:none; border:none; color:inherit; opacity: 0.8;
	&:hover {background: none; border:none; opacity:1;}
}

// Modal
.modal {
	position:fixed; top:0; left:0; right:0; width:100%; height:30%; background: $white; z-index:100; color:$black; padding: 20px;
	.container {position:relative;}
	&::before {
		content: ''; position: absolute; top: 100%; left: 0; right: 0; height: 1000%; z-index: -1; background:rgba(0,0,0,.6);
	}
	.close {
		font-size:30px; position:absolute; top: 0; right: 0; cursor: pointer; opacity: 0.8; padding:4px; height: 20px; width: 20px;
		&:before {content: ''; transform: translate(-50%, -50%) rotate(45deg); width: 100%; height: 3px; position:absolute; top: 50%; left: 50%; background: $black; }
		&:after {content: ''; transform: translate(-50%, -50%) rotate(-45deg); width: 100%; height: 3px; position:absolute; top: 50%; left: 50%; background: $black; }
		&:hover {opacity:1;}
	}
}

// Forms
input, select, textarea {
	-webkit-appearance: none; display:block; border-radius: 0; padding: $g1 $g1; margin:0; font-family:inherit; width: 100%; border: 1px solid $grey; transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; background-clip: padding-box;
	&:focus {border-color: $primary; outline: 0; box-shadow: 0 0 0 $gutter/4 rgba($primary, .25); }
}
form {
	display:block; width: 100%;
	
	small {margin-top: $gutter/3; display:block;}
}
.form-md {
	input, select, textarea {padding: $gutter/2 $gutter;}
}
.form-sm {
	input, select, textarea {padding: $gutter/3 $gutter/2;}
}
.formsec {
	position:relative; padding: $gutter 0;
}

label {
	display:inline-block; margin-bottom: $gutter/2;
	span {color: $danger; margin: 0 4px;}
}


// Tables / Input
table, thead, tbody {width: 100%; border-spacing: 0; border-collapse: collapse; max-width:100%;}
td {padding:6px}


textarea {resize: vertical;}
blockquote {border:none; border-left: 4px solid $primary; padding:$gutter*2; margin: 0; margin-bottom:$gutter;}

input[type="checkbox"], input[type="radio"] {width: auto; display: inline-block; position:relative; top: 2px; margin: 0 4px;}

// Buttons
.btn, button, input[type="submit"], input[type="button"] {
	background: #fff; border:1px solid #ddd; text-decoration: map-get($buttons, decoration); border-radius: map-get($buttons, radius); padding: $g1 $g2; cursor:pointer; display:inline-block; text-align:center; box-shadow:none; width:auto; margin-bottom:$g1;
	&:hover, &:focus {background:#e6e6e6; color:#333; border-color:#aaa; text-decoration: map-deep-get($buttons, "hover", "decoration")}

	@each $name, $color in $system_colors {
		&.btn-#{$name} {
			color: map-get($color, color); background-color: map-get($color, bg); border-color: darken(map-get($color, bg), $hover_diff);
			&:hover {color: map-get($color, color); background-color: lighten(map-get($color, bg), $hover_diff); border-color: map-get($color, bg);}
		}
	}
	
	&.btn-link {
		border-color:transparent; background-color:transparent; box-shadow:none; color: $primary;
		&:hover {color: darken($primary, $hover_diff); text-decoration: underline; background-color: transparent;}
	}

	&.btn-lg {font-size:18px;}
	&.btn-sm {font-size:12px; padding: 6px 10px;}
	&.btn-xs {font-size:10px; padding: 3px 6px;}
}

// text colors
@each $name, $color in $system_colors {
	.text-#{$name} {
		color: map-get($color, bg);
		&a:hover, &a:focus {color: lighten(map-get($color, bg), $hover_diff);}
	}
}

// backgrounds
@each $name, $color in $system_colors {
	.bg-#{$name} {
		background-color: map-get($color, bg); color: map-get($color, color);
		a {color: map-get($color, color); }
		&a:hover, &a:focus {background-color: lighten(map-get($color, bg), $hover_diff);}
	}
}

.bg-none {background:none; color:inherit;}

// messages
@each $name, $color in $system_colors {
	.message-#{$name} {
		border-left: 4px solid transparent; padding: $g2 $g4; margin-bottom: $g2;
		background-color: lighten(map-get($color, bg), 30%); color: darken(map-get($color, bg), 30%); border-color: map-get($color, bg);
	}
}

.gform_confirmation_message {
	border-left: 4px solid transparent; padding: $g2 $g4; margin-bottom: $g2;
	background-color: lighten($success, 30%); color: darken($success, 30%); border-color: $success;
}