$gutter: 0.75rem;
$hover_diff: 5%; // how much something should change by when hovered
$animation_speed: 0.3s;

/////////////////////////
// Colors
/////////////////////////
$black: #333;
$grey: #ddd;
$white: #fefefe;
$light: #F1F1F1;

$primary: #337ab7;
$secondary: #096;
$tertiary: #096;

$dark: #555;
$dark_grey: #888;
$success: #449d44;
$info: #5bc0de;
$warning: #f8b943;
$danger: #d9534f;

// System
$system_colors: (
	primary: (bg:$primary,color:$white)
	, secondary: (bg:$secondary,color:$white)
	, tertiary: (bg:$tertiary,color:$white)
	, success: (bg:$success,color:$white)
	, info: (bg:$info,color:$black)
	, message: (bg:$info,color:$black)
	, warning: (bg:$warning,color:$black)
	, danger: (bg:$danger,color:$white)
	, error: (bg:$danger,color:$black)
	, dark: (bg:$dark,color:$white)
	, grey: (bg:$grey,color:$black)
	, white: (bg:$white,color:$black)
	, light: (bg:$light,color:$black)
	, black: (bg:$black,color:$white)
);

/////////////////////////
// Typgraphy
/////////////////////////
$links: (
	color: $primary
	, decoration: none
	, hover: (
		decoration: underline
		, color: lighten($primary, $hover_diff)
	)
);

$buttons: (
	decoration: none
	, radius: 0
	, hover: (
		decoration: none
	)
);

$font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

$font_lg: 1.2rem;
$font_md: 1rem;
$font_sm: 0.8rem;

$h1: (
	size: 2.2rem
	, color: inherit
	, spacing: 1px
	, font-weight: 500
);
$h2: (
	size: 1.9rem
	, color: inherit
	, spacing: 0px
	, font-weight: 500
);
$h3: (
	size: 1.6rem
	, color: "inherit"
	, spacing: 0px
	, font-weight: 500
);
$h4: (
	size: 1.3rem
	, color: inherit
	, spacing: 0px
	, font-weight: 500
);
$h5: (
	size: 1.0rem
	, color: inherit
	, spacing: 0px
	, font-weight: 500
);
$h6: (
	size: 0.7rem
	, color: inherit
	, spacing: 0px
	, font-weight: 500
);

/////////////////////////
// Layout
/////////////////////////
$breakpoints: ( // by min px
	sm: 720px // max-width
	, md: 720px // min width
	, lg: 1200px // min width
);

$layers: (
	background: -10
	, normal: 0
	, medium: 50
	, high: 100
	, tooltip: 200
);

$g1: $gutter;
$g2: $gutter * 2;
$g3: $gutter * 3;
$g4: $gutter * 4;

// functions
@mixin prefix($prop, $val) { // EX: @include prefix(box-shadow, 0 3px 3px rgba(0,0,0,0.05)); 
	@each $prefix in '-webkit-', '-moz-', '-ms-', '-o-', '' {
		#{$prefix}#{$prop}: $val;
	}
}
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}