// colors
$black: #333;
$grey: #ddd;
$white: #fefefe;

$primary: #337ab7;
$secondary: #096;
$dark: #555;
$success: #449d44;
$info: #5bc0de;
$warning: #facf7e;
$danger: #d9534f;

// font sizes
$font_lg: 1.2rem;
$font_md: 15px;
$font_sm: 0.9rem;
$font_xs: 0.8rem;

// responsive sizing
// gutters
$gutter: 0.75rem;
$g4: $gutter*4;
$g3: $gutter*3;
$g2: $gutter*2;
$g1: $gutter;

// interactions
$hover_diff: 5%; // how much something should change by when hovered

// Reset the CSS boilerplate
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;} article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;} body{line-height:1;} ol,ul{list-style:none;} blockquote,q{quotes:none;} blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;} table{border-collapse:collapse;border-spacing:0;} *,*:after,*:before {box-sizing: border-box;-moz-box-sizing:border-box; scroll-behavior: smooth;}
*::selection, *::-moz-selection {background: $primary; color: $white}
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template, [template] { display: none; }

///////////////////////////////////
// Typeography / HTML
///////////////////////////////////
html {font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width:100%; height:100%; overflow-x:hidden;}
body {margin:0; width:100%; height:100%; font-size: 15px; line-height: 1.5; font-weight: 400; font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif; background:$white; color: $black; -webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility !important; position:relative; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; image-rendering: optimizeSpeed; image-rendering: -moz-crisp-edges; image-rendering: -o-crisp-edges; image-rendering: -webkit-optimize-contrast; image-rendering: optimize-contrast; -ms-interpolation-mode: nearest-neighbor; }
sub, sup {font-size: $font_xs; line-height: 0; position: relative; vertical-align: baseline; }
sup {top: -0.5rem;}
sub {bottom: -0.25rem;}
small { font-size: $font_sm; }
.text-center { text-align:center; }
.text-left { text-align:left; }
.text-right {text-align:right;}
.text-nowrap {white-space: nowrap;}
.text-justify {white-space: justify;}
.text-lowercase, .text-lower {text-transform: lowercase;}
.text-uppercase, .text-upper {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}
.text-muted {opacity:0.6;}
.text-small, .text-sm, small {font-size:$font_sm;}
.text-large, .text-lg {font-size:$font_lg;}
.text-white {color:#fff;}
.text-black {color:#fff;}

svg:not(:root) {overflow: hidden;}
img, iframe {max-width:100%;}
code {background: #F1F1F1; }
pre {background: #F1F1F1; overflow: auto; font-size: $font_xs;}
code, kbd, pre, samp, pre.prettify {clear:both; font-family: monospace, monospace; display:block; padding: $gutter;}
pre > code {display: block; padding: 0; white-space: pre;}

a {text-decoration:none; color:$primary;}
a:active,a:hover {outline: 0; color:lighten($primary, $hover_diff);}
i,em,.em {font-style:italic;}
b,strong,.strong {font-weight: bold;}
s, .s, .striketrhough {text-decoration:line-through;}
u, u, .underline {text-decoration:underline;}
mark, .mark, .highlight {background:#8a6d3b}
kbd,.kbd {padding:2px 4px; font-size:1.4rem; color:#fff; background:#333; border-radius: 4px;}
kbd kbd, .kbd kbd, .kbd .kbd, kbd .kbd {padding:0; font-weight:bold;}

.noselect {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}

hr {margin-top: $gutter*2; margin-bottom: $gutter*2; border-width: 0; border-top: 1px solid #E1E1E1; display:block; clear:both; float:none;}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {margin:0; margin-bottom: $gutter;}
h1, .h1 { font-size: 2.2rem; }
h2, .h2 { font-size: 1.76rem; }
h3, .h3 { font-size: 1.405rem; }
h4, .h4 { font-size: 1.12rem; }
h5, .h5 { font-size: 1rem; }
h6, .h6 { font-size: 0.7rem; }
.title {font-weight:bold;}
.subtitle {margin-top: -$gutter;}

p {margin-top: 0; margin-bottom:$g1;}
p:last-child {margin-bottom:0;}

ul.list {list-style: disc outside;}
ol.list {list-style: decimal outside;}
ol.nolist, ul.nolist {list-style:none;}
ol.list, ul.list {padding-left: $g2; margin-top: 0;}


////////////////////////////////////////////
// UI Elements
////////////////////////////////////////////
// Buttons
.btn, button, input[type="submit"], input[type="button"] {
	background: #fff; color:#333; border:1px solid #ddd; padding: 8px 20px; font-size:16px; cursor:pointer; display:inline-block; text-align:center; box-shadow:none; width:auto;
	&:hover {background:#e6e6e6; color:#333; border-color:#aaa;}
	&.btn-primary {
		color: #fff; background-color: $primary; border-color: darken($primary, $hover_diff);
		&:hover {color: #fff; background-color: lighten($primary, $hover_diff); border-color: $primary;}
	}
	&.btn-secondary {
		color: #fff; background-color: $secondary; border-color: darken($secondary, $hover_diff);
		&:hover {color: #fff; background-color: lighten($secondary, $hover_diff); border-color: $secondary;}
	}
	&.btn-success {
		color: #fff; background-color: $success; border-color: darken($success, $hover_diff);
		&:hover {color: #fff; background-color: lighten($success, $hover_diff); border-color: $success;}
	}
	&.btn-info {
		color: #fff; background-color: $info; border-color: darken($info, $hover_diff);
		&:hover {color: #fff; background-color: lighten($info, $hover_diff); border-color: $info;}
	}
	&.btn-warning {
		color: #fff; background-color: $warning; border-color: darken($warning, $hover_diff);
		&:hover {color: #fff; background-color: lighten($warning, $hover_diff); border-color: $warning;}
	}
	&.btn-dark {
		color: #fff; background-color: $dark; border-color: darken($dark, $hover_diff);
		&:hover {color: #fff; background-color: lighten($dark, $hover_diff); border-color: $dark;}
	}
	&.btn-danger {
		color: #fff; background-color: $danger; border-color: darken($danger, $hover_diff);
		&:hover {color: #fff; background-color: lighten($danger, $hover_diff); border-color: $danger;}
	}
	&.btn-link {
		border-color:transparent; background-color:transparent; box-shadow:none; color: $primary;
		&:hover {color: darken($primary, $hover_diff); text-decoration: underline; background-color: transparent;}
	}

	&.btn-lg {font-size:18px;}
	&.btn-sm {font-size:12px; padding: 6px 10px;}
	&.btn-xs {font-size:10px; padding: 3px 6px;}
}

// Navigation
.os-menu {
	position:relative; display:block; list-style:none; padding:0;
	li {
		display:inline-block; position:relative;
		a {display:block; padding: 10px 20px;}
		&:hover {background:rgba(0,0,0,.1);}
		&:hover .sub-menu {display:block}
	}
	.sub-menu {
		display:none; position:absolute; top:100%; left:50%; transform: translate(-50%, 0); width: 200px; z-index:100; background:#fff; color:#333; border:1px solid #ddd;
		li {display:block;}
		a {color:#333;}
	}
}

// Pagination
.pagination {
	margin: 4px 0 8px;
	> * {
		display:inline-block; padding: 4px 8px; text-align:center; margin: 0 2px; color:#333; background: #ddd;
		&:hover {background:#ccc; color: inherit;}
		&.active {background:#337ab7; color:#fff;}
	}
	.next, .prev {
		&:hover {background:#ccc; color:#333;}
	}
}

// Tabs
.tabs {
	.tab_nav {
		overflow:hidden; border-bottom:1px solid $grey;
		a {
			margin-bottom: -1px; cursor:pointer; color:#aaa; margin-right: 4px; display:inline-block; padding: 8px 16px;
			&:hover, {color: $black;}
			&:active, &.active {background: $primary; color:#fff;}
		}
	}

	.tab_content {
		display:none; padding: 20px; background: darken($white, 3%);
		&.active {display:block;}
	}
}

// Tooltips
[tooltip] {
	position: relative;
	&:hover:before, &:active:before { content: attr(tooltip); position: absolute; border:1px solid darken($black, $hover_diff); z-index:100; max-width:300px; top: 0; left: 50%; transform: translate(-50%, -100%); background: $black; color: $white; font-size: 12px; padding: 6px 16px;}
	&:hover:after, &:active:after {content: ''; position:absolute; top: 0; left: 50%; width: 10px; height: 10px; transform: translate(-50%, -50%) rotate(45deg); background: $black; border:1px solid darken($black, $hover_diff); border-top: none; border-left:none; }
}

//search
.os-search-submit {
	background:none; border:none; color:inherit; opacity: 0.8;
	&:hover {background: none; border:none; opacity:1;}
}

// Modal
.modal {
	position:fixed; top:0; left:0; right:0; width:100%; height:30%; background: $white; z-index:100; color:$black; padding: 20px;
	.container {position:relative;}
	&::before {
		content: ''; position: absolute; top: 100%; left: 0; right: 0; height: 1000%; z-index: -1; background:rgba(0,0,0,.6);
	}
	.close {
		font-size:30px; position:absolute; top: 0; right: 0; cursor: pointer; opacity: 0.8; padding:4px; height: 20px; width: 20px;
		&:before {content: ''; transform: translate(-50%, -50%) rotate(45deg); width: 100%; height: 3px; position:absolute; top: 50%; left: 50%; background: $black; }
		&:after {content: ''; transform: translate(-50%, -50%) rotate(-45deg); width: 100%; height: 3px; position:absolute; top: 50%; left: 50%; background: $black; }
		&:hover {opacity:1;}
	}
}

// Tables / Input
table, thead, tbody {width: 100%; border-spacing: 0; border-collapse: collapse; max-width:100%;}
td {padding:6px}
form {
	display:block; width: 100%;
	input, select, textarea {display:block; width: 100%;}
}
.formsec {
	position:relative; padding: 8px 0;
	label + input:not([type="submit"]), label + textarea {padding-top: 28px;}
	label {
		display:block; position: relative; text-transform: uppercase; font-weight:bold; bottom: -24px; left: 10px; font-size:0.7rem; color: #777; pointer-events:none;
		span {color:red; margin: 0 4px;}
	}
}
input, select, textarea {border:1px solid #ddd; padding: 7px 10px; margin:0; box-shadow: inset 1px 1px 3px rgba(0,0,0,.1); font-family:inherit; }
textarea {resize: vertical;}
.quote, blockquote {border:1px solid #5A5D66; padding:6px; background:rgba(255,255,255,.15);}

input[type="checkbox"], input[type="radio"] {width: auto; display: inline-block; position:relative; top: 2px; margin: 0 4px;}

// text colors
.text-primary {
	color: $primary;
	&a:hover, &a:focus {color: lighten($primary, $hover_diff);}
}
.text-success {
	color: $success;
	&a:hover, &a:focus {color: lighten($success, $hover_diff);}
}
.text-info {
	color: $info;
	&a:hover, &a:focus {color: lighten($info, $hover_diff);}
}
.text-warning {
	color: $warning;
	&a:hover, &a:focus {color: lighten($warning, $hover_diff);}
}
.text-danger {
	color: $danger;
	&a:hover, &a:focus {color: lighten($danger, $hover_diff);}
}

// bd colors
.bg-primary {
	background-color: $primary; color: $white; 
	a {color: $white}
	&a:hover, &a:focus {background-color: $primary;}
}
.bg-secondary {
	background-color: $secondary; color: $white; 
	&a:hover, &a:focus {background-color: lighten($secondary, $hover_diff);}
}
.bg-success {
	background-color: $success; color: $white; 
	&a:hover, &a:focus {background-color: lighten($success, $hover_diff);}
}
.bg-info {
	background-color: $info;
	&a:hover, &a:focus {background-color: lighten($info, $hover_diff);}
}
.bg-warning {
	background-color: $warning;
	&a:hover, &a:focus {background-color: lighten($warning, $hover_diff);}
}
.bg-danger {
	background-color: $danger; color: $white;
	&a:hover, &a:focus {background-color: lighten($danger, $hover_diff);}
}
.bg-dark {
	background-color: $black; color: $white;
	&a {color: $white;}
	&a:hover, &a:focus {background-color: lighten($black, $hover_diff);}
}
.bg-grey {
	background-color: $grey; color: $black;
	&a {color: $black;}
	&a:hover, &a:focus {background-color: lighten($white, $hover_diff);}
}

.bg-light, .bg-white {
	background-color: $white; color: $black;
	&a {color: $black;}
	&a:hover, &a:focus {background-color: lighten($grey, $hover_diff);}
}

.bg-none {background:none; color:inherit;}

// messages
.message {
	border-left: 4px solid transparent; padding: 20px; 
	&.primary {
		background-color: lighten($primary, $hover_diff); color: #fff; border-color: $primary;
	}
	&.success {
		background-color: lighten($success, $hover_diff); color: #fff; border-color: $success;
	}
	&.info, &.message {
		background-color: lighten($info, $hover_diff); color: #fff; border-color: $info;
	}
	&.danger, &.error {
		background-color: lighten($danger, $hover_diff); color: #fff; border-color: $danger;
	}
	&.warning {
		background-color: lighten($warning, $hover_diff); color: #fff; border-color: $warning;
	}
}

.pull-right {float:right;}
.pull-left {float:left;}
.pull-none {float:none;}
.relative {position: relative;}
.absolute {position: absolute;}
.dbcenter {position: absolute; top: 50%; left: 50%; -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.fixed {
	position:fixed;
	&.t {top: 0;}
	&.r {right: 0;}
	&.b {bottom: 0;}
	&.l {left: 0;}
}

.z10 {z-index:10;}
.z20 {z-index:20;}
.z30 {z-index:30;}
.z40 {z-index:40;}
.center {margin-left:auto; margin-right:auto;}
.full, .width100 {width: 100%;}
.block {display:block !important;}
.hidden {display:none !important;}
.clear {display:block; clear:both !important; float:none; width: 100%;}
.noclear {clear:none !important;}
.height100 {height: 100%;}

// Grid containers
.section {
	padding: $gutter*4 $gutter*2;
	&.g0 {padding:0;}
	&.g2 {padding:$gutter*2 $gutter;}
	&.g4 {padding:$gutter*4 $gutter*2;}
}
.container {
	max-width: 1200px; margin-left: auto; margin-right:auto; width: 100%;
	&.#{-fluid} {max-width: none;}
	&:after {content: ""; display:block; clear:both;}
}

// Row for flexboxing
.row, .columns {
	display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; 
	&.g0 {margin: 0; margin-bottom: 0;}
	&.g1 {margin: -$gutter; margin-bottom: -$gutter;}
	&.g2 {margin: -$gutter*2; margin-bottom: -$gutter*2;}
	&.g3 {margin: -$gutter*3; margin-bottom: -$gutter*3;}
	&.g4 {margin: -$gutter*4; margin-bottom: -$gutter*4;}

	&:after, {content: ""; display:block; clear:both;}
}

// Flex element ordering
.self-start, .self-top {-ms-flex-item-align: start; align-self: flex-start;}
.self-center, .self-middle {-ms-flex-item-align: center; align-self: center;}
.self-end, .self-bottom {-ms-flex-item-align: end; align-self: flex-end;}
.order-first { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1;}
@for $i from 1 through 12 {
	.order-#{$i} {-webkit-box-ordinal-group: $i + 1; -ms-flex-order: $i; order: $i;}
}
.order-first { -webkit-box-ordinal-group: 14; -ms-flex-order: 13; order: 13;}



// Full grid mixin
@mixin grid_sizes($name, $size: false) {
	$prefix: '';
	// Text aligning
	@if $size {
		// typography
		.#{$name}-text-left {text-align:left;}
		.#{$name}-text-center {text-align:center;}
		.#{$name}-text-right {text-align:right;}

		// Self aligning
		.#{$name}#{-self-start}, .#{$name}#{-self-top} {-ms-flex-item-align: start; align-self: flex-start;}
		.#{$name}#{-self-center}, .#{$name}#{-self-middle} {-ms-flex-item-align: center; align-self: center;}
		.#{$name}#{-self-end}.#{$name}#{-self-bottom} {-ms-flex-item-align: end; align-self: flex-end;}
	}

	// From now on we prefix a hyphen
	@if $size {$prefix: #{$name}-;}
	@if $size {$name: -#{$name};}

	// grid
	.os#{$name} {-ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; width: 100%; min-height: 20px;}
	.g0 .os#{$name} {padding: 0;}
	.g1 .os#{$name} {padding: $gutter;}
	.g2 .os#{$name} {padding: $gutter*2;}
	.g3 .os#{$name} {padding: $gutter*3;}
	.g4 .os#{$name} {padding: $gutter*4;}

	@for $i from 1 through 12 {
		.os#{$name}#{-$i} {max-width: (100% / 12) * $i; -ms-flex: 0 0 (100% / 12) * $i; flex: 0 0 (100% / 12) * $i; width: 100%; min-height: 20px; }
		.offset#{$name}#{-$i} {margin-left: (100% / 12) * $i;}

		.g0 .os#{$name}#{-$i} {padding: 0;}
		.g1 .os#{$name}#{-$i} {padding: $gutter;}
		.g2 .os#{$name}#{-$i} {padding: $gutter*2;}
		.g3 .os#{$name}#{-$i} {padding: $gutter*3;}
		.g4 .os#{$name}#{-$i} {padding: $gutter*4;}
	}

	// Row aligning by size
	.content#{$name}-center {-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
	.content#{$name}-top {-webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
	.content#{$name}-middle {-webkit-box-align: center; -ms-flex-align: center; align-items: center; }
	.content#{$name}-bottom {-webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
	.content#{$name}-space { -ms-flex-pack: distribute; justify-content: space-around; }
	.content#{$name}-justify {-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}

	.hidden#{$name} {display:none;}

	.visible#{$name} {
		&, &#{-block} {display:block;}
		&#{-inline} {display:inline;}
		&#{-inline-block} {display:inline-block;}
		&#{-none} {display:none;}
	}

	.#{$prefix}#{marg} {
		&#{auto} {margin:auto;}
		&#{0} {margin:0px;}
		&#{1}, &#{10} {margin:$g1;}
		&#{2}, &#{20} {margin:$g3;}
		&#{3}, &#{30} {margin:$g3;}
		&#{4}, &#{40} {margin:$g4;}
		&#{t}, &#{tb} {
			&#{0} {margin-top:0;}
			&#{1}, &#{10} {margin-top:$g1;}
			&#{2}, &#{20} {margin-top:$g2;}
			&#{3}, &#{30} {margin-top:$g3;}
			&#{4}, &#{40} {margin-top:$g4;}
		}
		&#{r}, &#{lr} {
			&#{auto} {margin-right:auto;}
			&#{0} {margin-right:0;}
			&#{1}, &#{10} {margin-right:$g1;}
			&#{2}, &#{20} {margin-right:$g2;}
			&#{3}, &#{30} {margin-right:$g3;}
			&#{4}, &#{40} {margin-right:$g4;}
		}
		&#{b}, &#{tb} {
			&#{0} {margin-bottom:0;}
			&#{1}, &#{10} {margin-bottom:$g1;}
			&#{2}, &#{20} {margin-bottom:$g2;}
			&#{3}, &#{30} {margin-bottom:$g3;}
			&#{4}, &#{40} {margin-bottom:$g4;}
		}
		&#{l}, &#{lr} {
			&#{auto} {margin-left:auto;}
			&#{0} {margin-left:0;}
			&#{1}, &#{10} {margin-left:$g1;}
			&#{2}, &#{20} {margin-left:$g2;}
			&#{3}, &#{30} {margin-left:$g3;}
			&#{4}, &#{40} {margin-left:$g4;}
		}
	}

	.#{$prefix}#{pad} {
		&#{0} {padding:0;}
		&#{1}, &#{10} {padding:$g1 !important;}
		&#{2}, &#{20} {padding:$g2 !important;}
		&#{3}, &#{30} {padding:$g3 !important;}
		&#{4}, &#{40} {padding:$g4 !important;}
		&#{t}, &#{tb} {
			&#{0} {padding-top:0 !important;}
			&#{1}, &#{10} {padding-top:$g1 !important;}
			&#{2}, &#{20} {padding-top:$g2 !important;}
			&#{3}, &#{30} {padding-top:$g3 !important;}
			&#{4}, &#{40} {padding-top:$g4 !important;}
		}
		&#{r}, &#{lr} {
			&#{0} {padding-right:0 !important;}
			&#{1}, &#{10} {padding-right:$g1 !important;}
			&#{2}, &#{20} {padding-right:$g2 !important;}
			&#{3}, &#{30} {padding-right:$g3 !important;}
			&#{4}, &#{40} {padding-right:$g4 !important;}
		}
		&#{b}, &#{tb} {
			&#{0} {padding-bottom:0 !important;}
			&#{1}, &#{10} {padding-bottom:$g1 !important;}
			&#{2}, &#{20} {padding-bottom:$g2 !important;}
			&#{3}, &#{30} {padding-bottom:$g3 !important;}
			&#{4}, &#{40} {padding-bottom:$g4 !important;}
		}
		&#{l}, &#{lr} {
			&#{0} {padding-left:0 !important;}
			&#{1}, &#{10} {padding-left:$g1 !important;}
			&#{2}, &#{20} {padding-left:$g2 !important;}
			&#{3}, &#{30} {padding-left:$g3 !important;}
			&#{4}, &#{40} {padding-left:$g4 !important;}
		}
	}
}

[class*="visible-"] {display: none;}
@include grid_sizes('');

// Media Queries
// Small devices (landscape phones, 0px and up)
.os-sm {-ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%;}
@include grid_sizes('sm', true);


// Medium devices (tablets)
@media (min-width: 720px) {
	.os-md {-ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%;}
	@include grid_sizes('md', true);
}

// Large devices (desktops, 992px and up)
@media (min-width: 1200px) {
	.os-lg {-ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%;}
	@include grid_sizes('lg', true);
}



