// Buttons
%btn-base {
	background: transparent; text-decoration:none; border: 2px solid $grey; border-radius: $border-radius; padding: $g1 $g2; cursor:pointer; text-align:center; box-shadow:none; display:inline-block;
	&:hover, &:focus {text-decoration:none; background: $dark-grey; border-color: $darkest-grey;}

	&#{-btn-lg}, &.btn-lg {font-size: 1.303rem; padding: $g2 $g4; }
	&#{-btn-sm}, &.btn-sm {font-size: .707rem; padding: $g1 /2 $g1; }
}

.btn, button, input[type="submit"], input[type="button"] {
	@extend %btn-base;
}

@each $name, $color in $system_colors {
	.btn-#{$name}, input.btn-#{$name} {
		@extend %btn-base;
		color: map-get($color, color); background: map-get($color, bg); border-color: darken(map-get($color, bg), $hover_diff);
		&:hover {color: map-get($color, color); background-color: lighten(map-get($color, bg), $hover_diff); border-color: map-get($color, bg);}
	}
}

