// BACKGROUNDS
.bg-none {background:none; color:inherit;}
@each $name, $color in $system_colors {
	.bg-#{$name} {
		background-color: map-get($color, bg); color: map-get($color, color);
		a {color: map-get($color, color); }
		a:hover, a:focus {color: lighten(map-get($color, color), 15%);}
	}
}

// MESSAGES
@each $name, $color in $system_colors {
	.message-#{$name} {
		border-left: 4px solid transparent; padding: $g2 $g4; margin-bottom: $g2;
		background-color: rgba(map-get($color, bg), .25); color: map-get($color, color); border-color: map-get($color, bg);
	}
}

// TEXT COLORS
@each $name, $color in $system_colors {
	.text-#{$name}, a.text-#{$name} {
		color: map-get($color, bg);
		&:hover, &:focus {color: lighten(map-get($color, bg), $hover_diff);}
	}
}