// FLOATS
.pull-right {float:right;}
.pull-left {float:left;}
.pull-none {float:none;}

// UNSELECTABLE
.noselect {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}

// SCROLLING
.noscroll, .overflow-hidden {overflow:hidden;}
.scrolly {overflow-y:auto;}
.scrollx {overflow-x:auto;}

// LAYOUT CONTROL
div:not(.clear):empty:after {content: ' '; white-space: pre; color: transparent; display:block;}
.center {margin-left:auto; margin-right:auto;}
.width100, .w100 {width: 100%;}
.clear {display:block; clear:both !important; float:none; width: 100%;}
.height100, .h100 {height: 100%;}
.height100vh, .h100vh {height: 100vh;}

.sticky {position: -webkit-sticky !important; position: sticky !important; z-index: $z-high; }
.fixed {position:fixed !important; z-index: $z-high; }
.t {top: 0;}
.r {right: 0;}
.b {bottom: 0;}
.l {left: 0;}

.relative {position: relative !important;}
.absolute {position: absolute !important;}
.db-center {position: absolute; top: 50%; left: 50%; @include prefix(transform, translate(-50%, -50%));}