body {font-size: $font-size; color: $font-color; line-height: $line-height; font-weight: $font-weight; font-family: $font-family-sans-serif;}

// Text manipulation
small {font-size: .707rem;}
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right {text-align: right;}
.text-justify {text-align: justify; text-justify: inter-word;}
.text-lowercase, .text-lower {text-transform: lowercase;}

.font-extralight {font-weight: $font-weight-extralight; }
.font-light {font-weight: $font-weight-light; }
.font-normal {font-weight: $font-weight; }
.font-bold {font-weight: $font-weight-bold; }
.font-extrabold {font-weight: $font-weight-extrabold; }

.ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.capitalize {text-transform: capitalize;}
.caps {text-transform: uppercase;}

.muted {opacity:0.7;}

// Text defaults
code, kbd, pre, samp {clear:both; background: $grey; font-family: $font-family-monospace; display:block; padding: $g1; font-size: 0.808rem; tab-size: $g3;}
pre > code {display: block; padding: 0; white-space: pre; background:none;}
mark, .mark, .highlight {background: $orange}
kbd, .kbd {display:inline-block; padding: 2px $g1/2 0; position: relative; top: -2px; font-size: .707rem; color: $white; background: $black; border-radius: $border-radius;}

sub, sup {font-size: .707rem; line-height: 0; position: relative; vertical-align: baseline; }
sup {top: -0.5rem;}
sub {bottom: -0.25rem;}
i, em, .em {font-style:italic;}
b, strong, .strong {font-weight: bold;}
s, .s, .striketrhough {text-decoration:line-through;}
u, u, .underline {text-decoration:underline;}

// LINKS
a {color:$link-color; text-decoration: none; }
a:active, a:hover, a:focus {outline: 0; color: darken($link-color, $hover_diff);}

// HEADERS
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {margin: 0;}
.h1, h1 {font-size: map-get($h1, size); color: map-get($h1, color); font-weight: map-get($h1, font-weight); }
.h2, h2 {font-size: map-get($h2, size); color: map-get($h2, color); font-weight: map-get($h2, font-weight); }
.h3, h3 {font-size: map-get($h3, size); color: map-get($h3, color); font-weight: map-get($h3, font-weight); }
.h4, h4 {font-size: map-get($h4, size); color: map-get($h4, color); font-weight: map-get($h4, font-weight); }
.h5, h5 {font-size: map-get($h5, size); color: map-get($h5, color); font-weight: map-get($h5, font-weight); }
.h6, h6 {font-size: map-get($h6, size); color: map-get($h6, color); font-weight: map-get($h6, font-weight); }

// CONTENT
p {font-size:1rem; margin: 0; margin-bottom: $g2;}
p:nth-last-child(1) {margin-bottom: $g1;}
blockquote {border:none; border-left: 4px solid $primary; padding: $g2; margin: 0; margin-bottom: $g1;}
ul {list-style: disc outside; padding: $g2 0 $g4 $g4;}
ol {list-style: decimal outside; padding: $g2 0 $g4 $g4;}
ol.nolist, ul.nolist {list-style:none;}