////////////////////////////////////////////
// UI Elements
////////////////////////////////////////////

// Pagination
.pagination {
	margin: $g1 0 $g2;
	& > * + * {margin-left: 4px;}
	& > * {
		display:inline-block; padding: $g1 / 4 $g2; text-align:center; color: $black; border: 1px solid #ddd;
		&:hover {color: $black; background: darken($pure_white, $hover_diff); text-decoration:none;}
		&.active {background:$primary; border-color: $primary; color:$white; cursor: default; }
	}
}

// Tabs

.tabs {
	.tab_nav {
		overflow:hidden; font-size:0; list-style:none; margin-bottom: -1px;
		li {display:inline-block;}
		a {
			font-size: 1rem; border-bottom: 4px solid transparent; cursor:pointer; color:$black; display:inline-block; padding: $g1 $g2;
			&:hover {background: darken($pure_white, $hover_diff); text-decoration:none; border-color: $grey;}
			&:active, &:focus, &.active {border-color: $primary; color:$black;}
		}
		a + a {margin-left: $g1;}
	}

	.tab_content {
		display:none; padding: $g1;
		&.active, &:target {display:block;}
	}
}

// Tooltips
[tooltip] {
	position: relative;
	&:hover:before, &:active:before { content: attr(tooltip); position: absolute; border:1px solid darken($black, $hover_diff); z-index:100; max-width:300px; top: 0; left: 50%; transform: translate(-50%, -100%); background: $black; color: $white; font-size: 12px; padding: 6px 16px;}
	&:hover:after, &:active:after {content: ''; position:absolute; top: 0; left: 50%; width: 10px; height: 10px; transform: translate(-50%, -50%) rotate(45deg); background: $black; border:1px solid darken($black, $hover_diff); border-top: none; border-left:none; }
}

// Modal
.modal {
	position:fixed; top:0; left:0; right:0; width:100%; height:30%; background: $white; z-index: $z-high; color: $black; padding: $g1;
	.container {position:relative;}
	&::before {
		content: ''; position: absolute; top: 100%; left: 0; right: 0; height: 100vh; z-index: $z-bg; background:rgba(0,0,0,.6);
	}
	.close {
		font-size:30px; position:absolute; top: 0; right: 0; cursor: pointer; opacity: 0.8; padding: $g1 / 2; height: 20px; width: 20px;
		&:before {content: ''; transform: translate(-50%, -50%) rotate(45deg); width: 100%; height: 3px; position:absolute; top: 50%; left: 50%; background: $black; }
		&:after {content: ''; transform: translate(-50%, -50%) rotate(-45deg); width: 100%; height: 3px; position:absolute; top: 50%; left: 50%; background: $black; }
		&:hover {opacity:1;}
	}
}


// TABLES
table, thead, tbody {width: 100%; border-spacing: 0; border-collapse: collapse; max-width:100%; margin-bottom:$g2;}
table tr {border-bottom: 1px solid $grey;}
table th { @extend .caps; @extend .text-left; @extend .h5; }
table th, table td { padding: $g1; word-wrap: normal; line-height: 1; }
table.odd tbody tr:nth-child(odd) {background: rgba($black, .04)}
table.even tbody tr:nth-child(even) {background: rgba($black, .04)}
table.bordered td {border:1px solid $grey;}
table.noborder tr {border:none;}

// MENUS
.os_menu {
	list-style: none; padding: 0; margin: 0; right:0;
	li {
		display:inline-block; position: relative; 
		& > a {display:block; padding: $g1 $g2; border-bottom:4px solid transparent; font-weight: $font-weight-bold; }
		&.active > a {border-color: $primary;}
		&:hover > .sub-menu {display:block;}
	}
	
	.sub-menu {
		display:none; padding:0; position: absolute; top: 100%; left: 50%; @include prefix(transform, translateX(-50%)); width: 200px; max-width: 80vw; z-index: $z-high; background: inherit; background: $grey;
		li {display:block;}
		li:hover {background: rgba($black, .25)}
		a {display:block; padding: $g1 $g2;}
	}
}
.os_menu_button {
	display:none; float:right; text-align:right; border:none; padding:0; margin: 0; width: $g3; line-height: 0; font-size:0;

	span { height: 3px; width: 100%; background: $black; display: block;}
	span + span {margin-top:4px;}

	&.close {
		text-align:center; display:none; padding:4px;
		span {opacity:0; background: $primary; transform-origin: center; margin:0; }
		span:first-child {opacity:1; transform: rotate(-45deg); margin-top: 3px; }
		span:last-child {opacity:1; transform: rotate(45deg); margin-top: -3px; margin-bottom: 3px; }
	}
}

@media (max-width: $viewport-lg) {
	$menu_width: 200px !important;
	.wrapper {position: relative; right:0; left: 0;}
	.wrapper, .header_outer, .os_menu {position: relative; @include prefix(transition, right $animation-speed ease-in-out, left $animation-speed ease-in-out); }
	.os_menu_button.open {display: block; }
	.os_menu {
		position: fixed; top: 0; height: 100vh; width: $menu_width; max-width: $menu_width; right: -100%; left:auto;
		li {display:block;}
		a {display:block;}
	}
	#body:target {
		.os_menu_button.open {display:none;}
		.os_menu_button.close {display:block;}

		.os_menu {right:0;}
		.wrapper {right: $menu_width; left:-$menu_width;}
		.header_outer {right: $menu_width;}
	}
}